.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
template/**
doc/**
.src/**
test/**
node_modules/**
package-lock.json
Todo.json
out/utils/**
out/shared/**
*.vsix
